[Unit]
Description="Foundry VTT Server service"
After=network.target

[Install]
WantedBy=multi-user.target

[Service]
ExecStart=/usr/bin/node /opt/bin/foundry.js --dataPath=/var/cache/foundry-data/%i
Type=exec
Restart=always
User=foundry
Group=foundry


